body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#pdf-full{
    background-color: white;
}

#close-fullscreen-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10000; /* memastikan tombol berada di atas elemen lain */
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#close-fullscreen-btn:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

a{
    pointer-events:none;
}